.class {
    width: 305px;
    height: 160px;
    position: relative;
    top: 0px;
    left: 0px;
}
.class1 {
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: blue;
}
.class2 {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0px;
    background-color: red;
}
